* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color_principal: #F5F5F5;
    --color-secundariio: #EAF2FD;
    --font: Raleway;
    --color_texto: #464646;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-template-areas:
        "header"
        "presentacion"
        "sobre_mi"
        "habilidades"
        "hobbies"
        "formacion_academica"
        "experiencia__profesional"
        "contacto"
        "footer";
    font-family: var(--font);

}

.header {
    grid-area: header;
    background-color: var(--color_principal);
    font-family: var(--font);
    font-size: clamp(.8rem, 3vw, 1rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.header__mi_nombre,
.header__menu_navegacion__contacto {
    font-weight: 700;
    text-decoration: none;
    color: black;
    padding-right: 1rem;
}

.header_contenido_mi_nombre {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: .5rem;
}

.header__menu_navegacion ul {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header__menu_navegacion ul li {
    list-style: none;
}

.header__menu_navegacion a {
    text-decoration: none;
}

.presentacion {
    grid-area: presentacion;
    background-color: var(--color_principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 3rem 1rem;
    font-family: var(--font);
}

.presentacion_contenido {
    max-width: 70%;
}

.presentacion_contenido h2 {
    /* font-size: 52px;*/
    font-size: clamp(2rem, 4vw, 52px);


}

.presentacion_contenido p {
    padding-top: 1rem;
    font-size: clamp(16px, 2vw, 22px);
}

.presentacion_contenido li {
    display: flex;
    gap: 1rem;
}

.presentacion_contenido a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-decoration: none;
    padding-top: 1rem;

}

.imagen_principal {
    width: 360px;
    max-width: 100%;

}

.sobre_mi {
    grid-area: sobre_mi;
    background-color: var(--color-secundariio);
    padding: 1rem;
    font-size: clamp(16px, 2vw, 22px);
}

.sobre_mi h2 {
    margin: 2rem 0 1rem 0;
    color: #464646;
    font-size: clamp(1.2rem, 3vw, 32px);
}

.habilidades {
    background-color: var(--color_principal);
    padding: 1rem;
}

.skills,
.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;

}

.skills__titulo,
.hobbies h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 32px);
    color: #464646;
}

.hobbies h2 {
    margin-top: 3rem;
}

.skills ul,
.hobbies ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;

}

.skills ul li img,
.hobbies ul li img {
    width: 176;
    max-width: 100%;
}

.formacion_academica {
    grid-area: formacion_academica;
    background-color: var(--color-secundariio);
    padding-bottom: 3rem;
}

.formacion_academica__titulo {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: var(--color_texto);
    text-align: center;
}

.formacion_academica__lista ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 1rem;
}

.formacion_academica__lista li {
    text-align: start;
}

.formacion_academica__lista ul li img {
    width: 368;
    max-width: 100%;
}

.experiencia__profesional {
    grid-area: experiencia__profesional;
    display: flex;
    flex-direction: column;
    background-color: var(--color_principal);
    align-items: center;
    padding: 1rem;


}

.experiencia__profesional__titulo {
    color: var(--color_texto);
    padding: 1rem 0;
    text-align: center;

}

.experiencia__profesional_encriptador__contenido {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.experiencia__profesional_encriptador__contenido img {
    width: 752px;
    max-width: 100%;
}

.contacto {
    grid-area: contacto;
    background-color: aqua;
}

.footer {
    grid-area: footer;
}